@using MeuWepApp.Enums;
@model UsuarioModel
@{
    ViewData["Title"] = "Editar usuário";
}

<h2 class="display-6">Editar usuário</h2>

<form class="row g-3" asp-controller="Usuario" asp-action="Atualizar" method="post">
    
  <input type="hidden" asp-for="Id"/>

  <div class="col-md-6">
    <label for="inputNome" class="form-label">Nome</label>
    <input asp-for="Name" type="text" class="form-control" id="inputNome">
    @Html.ValidationMessageFor(option => option.Name)
  </div>

  <div class="col-md-6">
    <label for="inputEmail" class="form-label">Email</label>
    <input asp-for="Email" type="email" class="form-control" id="inputEmail">
    @Html.ValidationMessageFor(option => option.Email)
  </div>

  <div class="col-md-6">
    <label for="inputLogin" class="form-label">Login</label>
    <input asp-for="Login" type="text" class="form-control" id="inputLogin">
    @Html.ValidationMessageFor(option => option.Login)
  </div>

  <div class="col-md-6">
    <label for="inputPerfil" class="form-label">Perfil</label>
    <select asp-for="Perfil" class="form-select">
        <option value="" selected disabled>Selecione</option>
        <option value="@PerfilEnum.Admin">Administrador</option>
        <option value="@PerfilEnum.Default">Padrão</option>
    </select>
    @Html.ValidationMessageFor(option => option.Perfil)
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Atualizar</button>
    <a class="btn btn-secondary" role="button" asp-controller="Usuario" asp-action="Index">Cancelar</a>
  </div>
</form>