@model List<ContatoModel>
@{
    ViewData["Title"] = "Lista de Contatos";
}

<h2 class="display-6">Lista de contatos</h2>
<div class="d-flex justify-content-end mt-3">
    <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Criar">Novo Contato</a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Celular</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (ContatoModel contato in Model)
            {
                <tr>
                    <th scope="row">@contato.Id</th>
                    <td>@contato.Name</td>
                    <td>@contato.Email</td>
                    <td>@contato.Celular</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a role="button" class="btn btn-outline-primary" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a>
                            <a role="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" asp-route-id="@contato.Id">Apagar</a>
                        </div>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase" id="staticBackdropLabel">Alerta!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Deseja realmente apagar este contato?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Sim</button>
      </div>
    </div>
  </div>
</div>