@model List<ContatoModel>
@{
    ViewData["Title"] = "Lista de Contatos";
}

<h2 class="display-6">Lista de contatos</h2>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success d-flex justify-content-between" role="alert">
        <div>@TempData["MensagemSucesso"]</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["MensagemError"] != null)
{
   <div class="alert alert-danger d-flex justify-content-between" role="alert">
        <div>@TempData["MensagemError"]</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="d-flex justify-content-end my-3">
    <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Criar">Novo Contato</a>
</div>

<div class="table-responsive">
    <table id="tabelaContatos" class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Celular</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (ContatoModel contato in Model)
            {
                <tr>
                    <th scope="row">@contato.Id</th>
                    <td>@contato.Name</td>
                    <td>@contato.Email</td>
                    <td>@contato.Celular</td>
                    <td class="text-center">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                            <a role="button" class="btn btn-outline-primary" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a>
                            <a role="button" class="btn btn-outline-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Excluir">Apagar</a>
                        </div>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
